:root {}

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1664;
}

.main {
  margin-top: 60px;
  padding: 10px;
  flex: 1;
  padding-left: 0px;
  padding-right: 0px;
  
}



.navigation-menu {
  padding-left: 10px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  /* Hace que el encabezado sea fijo en la parte superior */
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 10px 10PX;
  z-index: 100;
  /* Asegura que el encabezado esté en la parte superior de otros elementos */
}



.nav-options{
display: flex;
gap: 30px;
}

.first-menu-options {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

.first-menu-options a {
  text-decoration: none; 
  color: #050505; 
  transition: color 0.2s; 
}
.first-menu-options a:hover {
  color: #0056b3; 
}

.second-menu-options {
  list-style-type: none;
  display: flex;
  gap: 5px;

}

.footer {
  padding-top: 20px;
  background-color: gray;
  margin-top: 20px;
  display: flex;
  gap: 20%;
  justify-content: center;
}

.content_one{
  
  display: flex;
  padding: 20px 100px;

}

.content_one_picture{
  flex:1;
  display: flex;
  justify-content: center;
}

.content_one_information{
  flex:1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;

  justify-content: center;
}
.picture_one{
  width: 450px;
  border-radius: 5px;
}

.content-four{
  background-color: #088A85;
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
}


.picture_four{
  width: 350px;
  border-radius: 20px;
  padding: 10px;
}
#ICT{
  display: flex;
  flex-direction: row;
  text-align: start;
}

.Texto {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-top: 50px;

}

#ico1 {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

.ico2{
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

.ico3{
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

.ico4{
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

.service_one, .service_two, .service_three, .service_four{

  display: flex;
  gap: 40px;
}

.services_content{
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  margin-left: 100px;
}